.cont-register {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    background-color: #f9f9fa;
    border-radius: 10px;
    margin-bottom: 70px;
    max-width: 620px !important;
    min-width: 400px;
}
.cont-register h2 {
    font-weight: bold !important;
}

.cont-register .welcome-text {
    padding: 10px 100px 0px 100px;
}
.cont-register .welcome-text p {
    font-size: 18px;
}


.cont-register form .box-inp {
    margin-top: 20px;
    margin-bottom: 20px !important;
    font-weight: bold;
}

.cont-register .therms-conditions,
.cont-register .have-account {
    margin: 10px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.form-register form {
    padding: 0px 20px;
}
@media (max-width: 767px) {
    .box-inp.row {
        display: flex;
        flex-direction: column;
    }

    .box-inp.row .col {
        margin-bottom: 10px; 
    }

    .box-inp.row input[type="text"],
    .box-inp.row input[type="email"],
    .box-inp.row input[type="password"] {
        width: 100%;
    }
}




.editor-fields {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    padding-left: 0;
    padding-right: 0;
    opacity: 0;
}

.editor-fields.open {
    max-height: 300px; /* Puedes ajustar este valor según tus necesidades */
    opacity: 1;
}

/* Estilo para el label e input del editor */
.label-check-editor {
    font-weight: bold;
    margin-right: 10px;
}

/* Estilo para el select de roles */
#role {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
    box-sizing: border-box;
    font-size: 14px;
}

/* Estilo para la descripción */
#description {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; /* Puedes ajustar a tu fuente preferida */
    font-size: 14px;
    resize: vertical; /* Permite al usuario ajustar el tamaño verticalmente */
    max-height: 150px; /* Limita el tamaño máximo del textarea */
}

/* Espaciado entre los elementos dentro de .editor-fields */
.editor-fields div {
    margin-bottom: 10px;
}

.form-control-no-padding {
    padding: 0;
}

.cont-register .editor-fields .input-group {
    flex-wrap: nowrap;
}
.cont-register .editor-fields .txt-area {
    flex-wrap: wrap !important;
}


.invalid-feedback {
    margin: 0px 10px;
}